html {
  height: 100%;
  width: 100%;
}

/**********************************************************/
/* ***Landing Page*** */

/* BANK ICON */ 
.bank {
  text-align: center;
  text-size-adjust: 65px;
  color:#023b0d;
}

/* Drop-Menu Button */
.drop_button{
  text-align: center;
  background-color: #C8E6C9;
  color: white;
  padding: 66px;
  font-size: 16px;
  width: max(300px, 100%);
  border: none;
  cursor: pointer;
}
/* Botton Hover/Focus */
.drop_button:hover, .drop_button:focus {
  background-color: #C8E6C9;
}

/* Drop Container */
.drop_a {
  height: 200px;
  position: relative;
}
.drop_b {
  display: inline-block;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Drop Menu Content */
.drop_content {
  text-align: center;
  display: none;
  position: absolute;
  background-color: #a5d6a7;
  min-width: max(160px, 100%);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links In Drop Menu */
.drop_content a {
  text-align: center;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}

/* Change Link Colors Via Hover */ 
.drop_content a:hover {
  background-color: green;
}

/* Show Menu (JS) */
.show {
  text-align: center;
  display: block;
}

/**********************************************************/
/* Personal Finance page */
.pers_fin_body{
  color: black;
}

/**********************************************************/
/* Budgeting page */
.budgeting_body{
  color: black;
}

/**********************************************************/
/* Personal Finance page */
.pers_fin_body{
  color: black;
}

/**********************************************************/
/* Financial Institutes page */
.institutes{
  text-align: center;
}

/* Credit Union (Financial Institutes) page */
.crdt_U_header{
  text-align: center;
}
.crdt_U{
  color: #004225;
}

/* Investment Companies (Financial Institutes) page */
.invst_bnks_header{
  text-align: center;
}
.invst_bnks{
  color: #004225;
}

/* Commercial Banks (Financial Institutes) page */
.cmmrcl_bnks_header{
  text-align: center;
}
.cmmrcl_bnks{
  color: #004225;
}

/* Insurance Companies (Financial Institutes) page */
#animated_div{
  text-align: center;
  width: 130px;
  height: 65px;
  background: #023b0d;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    /*background-repeat-x: initial;
    background-repeat-y: initial;*/
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
  color: #ffffff;
  position: relative;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  animation: animated_div 5s 1;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: animated_div;
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
  -moz-animation: animated_div 5s 1;
  -webkit-animation: animated_div 5s 1;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: animated_div;
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
  -o-animation: animated_div 5s 1;
  border-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  -webkit-border-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
@keyframes animated_div{
  0% {
      transform: rotate(0deg);
      left: 0px;
  }
  25% {
      transform: rotate(20deg);
      left: 0px;
  }
  50% {
      transform: rotate(0deg);
      left: max(500px, 75%);
  }
  55% {
      transform: rotate(0deg);
      left: max(500px, 75%);
  }
  70% {
      transform: rotate(0deg);
      left: max(500px, 75%);
      background: #088804;
  }
  100% {
      transform: rotate(-360deg);
      left: 0px;
  }
}
.ins_cmpnies{
  color: #004225;
}

/**********************************************************/
/* ***Loans Page*** */
.loan {
  max-width: 400px;
}

/* Title of Sub-Infos */
/* Style the buttons that are used to open and close the accordion panel */
.accordian {
  background-color: #c8e6c9;
  color: #000000;
  cursor: pointer;
  width: 100%;
  height: 50px;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordian:hover {
  background-color: #ade6ad;
}

/* Style the accordion panel. Note: hidden by default */
.loan_types_content {
  padding: 0 18px;
  background-color: #c8e6c9;
  display: none;
  overflow: hidden;
}

/**********************************************************/
/* Savings page */
.savings_body{
  color: black;
}

/**********************************************************/
/* Personal Finance page */
.debt_loans_body{
  color: black;
}

/**********************************************************/